body {
    background-image: url('FONDO/Spiderman.gif');
    background-size: cover; /* La imagen cubrirá todo el fondo */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para que el fondo no se mueva al hacer scroll */
    background-position: center;
}
